version: '2'  
services:  
  db:
    image: postgres:{{ POSTGRES_IMAGE_TAG }}
    container_name: postgresdb01
    hostname: slmdbhost
    restart: always
    environment:
      POSTGRES_USER: slmuser
      POSTGRES_PASSWORD: slmpass
      POSTGRES_DB: slmdb
    network_mode: host
    volumes:
      - "{{ POSTGRES_DATA }}:/data"
